@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* common code and reset code */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    line-height: normal;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #fff;
    scroll-behavior: smooth;
    font-family: "Mulish", sans-serif;
}

body{
    width: 100rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.2rem 0.2rem 0.2rem #222, -0.2rem 0 0.2rem #222;
}

.primary-title{
    font-size: 3rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1.5rem;
}

.section-title{
    font-size: 1.8rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1rem;
}

.primary-discrition{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px; 
    font-weight: 400;
    text-align: justify;
    margin-bottom: 1rem;
}

.primary-btn{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 1.2rem;
    color: #fff;
    background-color: #ff5400;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.text-color{
    color: #ff5400;
}

/* common code and reset code */

/* navber relativ style */
header{
    margin: 0 4.2rem;
}
/* navber relative style */
.navber{
    max-width: 90rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content img{
    width: 20%;
}

#menu-icon{
    display: none;
    color: #000;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav li{
    list-style: none;
}

nav li a{
    font-size: 1.4rem;
    font-weight: 600;
}
/* banner relative style */
#banner{
    max-width: 90rem;
    margin: auto;
    width: 100%;
    height: 50rem;
    background-image: linear-gradient(180deg,
     rgba(19, 19, 24, 0.80) 0%, 
    rgba(19, 19, 24, 0.00) 100%),
     url("../Images/Group\ 13\ \(1\)\ \(1\).png");
     background-position: bottom right, left top;
    object-fit: cover;
    background-size: cover;
    border-radius: 1rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-size: 4.4rem;
    font-weight: 800;
    color: #fff;
}

.banner-content{
    width: 60%;
}
.banner-discription{
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.banner-button {
    width: 56rem;
    height: 6rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-btn{
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 1.2rem;
    background-color: #fff;
    color: rgba(19, 19, 24, 0.50);;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
/* tours relative style */
#tours{
    max-width: 90rem;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours-content p{
    width: 80%;
    margin: 2rem;
}

.tours-img img{
    width: 100%;
    margin-left: 2rem;
}

.tours-content, .tours-img{
    flex: 0.5;
}

/* destination relative style */
#destination{
    padding: 3rem;
    max-width: 90rem;
    margin: auto;
}

.destination-content{
    width: 70%;
    margin: 2rem auto;
}

.pic-container img{
    width: 100%;
    height: 100%;
}

.pic-container{
    display: grid;
    grid-template-areas: 
    'pic-div1 pic-div1 pic-div1 pic-div1 pic-div1 pic-div1  pic-div2 pic-div2 pic-div2 pic-div2 pic-div2 pic-div2'
    'pic-div3 pic-div3 pic-div3 pic-div3 pic-div4 pic-div4  pic-div4 pic-div4 pic-div4 pic-div5 pic-div5 pic-div5'
    'pic-div6 pic-div6 pic-div6 pic-div6 pic-div6 pic-div6  pic-div7 pic-div7 pic-div7 pic-div7 pic-div7 pic-div7';
    gap: 2rem;
}
.pic-div1 { grid-area: pic-div1; }
.pic-div2 { grid-area: pic-div2; }
.pic-div3 { grid-area: pic-div3; }
.pic-div4 { grid-area: pic-div4; }
.pic-div5 { grid-area: pic-div5; }
.pic-div6 { grid-area: pic-div6; }
.pic-div7 { grid-area: pic-div7; }

.pic-title h4{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    bottom: 15rem;
    left: 15rem;
}

/* choose relative style */
#choose{
    max-width: 90rem;
    margin: auto;
    padding: 4rem;
    position: relative;
}

.choose-center-dis{
    width: 35rem;
    margin: 3rem auto;
}

.choose-content{
    width: 35rem;
    height: 19rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
 }

 .choose-pink{
    width: 35rem;
    height: 19rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
 }

  .choose-center{
    width: 35rem;
    height: 19rem;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
  }

  .chose-container{
    display: flex;
    justify-content: space-evenly;
  }

  #choose h4{
    margin: 1rem;
  }

  #discounts{
    padding: 4rem;
    position: relative;
  }
  .discount-scontent{
    width: 35rem;
    margin: 2rem auto;
  }

  .discounts-card-container{
    width: 40rem;
    height: 25rem;
    padding: 4rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 26rem;
    right: 10rem;
  }
  .discounts-card-container2{
    width: 40rem;
    height: 25rem;
    padding: 4rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    bottom: 56rem;
    left: 10rem;
  }
  .discounts-card-container3{
    width: 40rem;
    height: 25rem;
    padding: 4rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    bottom: 13rem;
    right: 10rem;
  }

  .discounts-img{
    width: 100%;
    margin: 2rem 0;
  }

  .deals-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .deals-card-container h4{
    color: #ff5400;
    margin: 1rem;
  }

  .deals-btn{
    text-align: center;
  }

  .dwals-hidden{
    display: none;
  }

  /* place relative style */
  #Place{
    max-width: 90rem;
    padding: 4rem 2rem;
    margin: auto;
  }

  .place-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .place-content, .place-img{
    flex: 0.5;
  }

  .place-img img{
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, 
    #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
  }
.bold-text{
    width: 40rem;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    margin: 2rem 0;
}
.place-title{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    bottom: 15rem;
    left: 8rem;
}
.icons-container{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
 .icon-lsft{
    display: flex;
    gap: 1rem;
    margin: 1rem;
    position: relative;
    bottom: 11rem;
    left: 2rem;
}
.icon-right{
    position: relative;
    bottom: 11rem;
    right: 2rem;
}
.icon-left i{
    margin: 1rem;
   
}
.icon-right i{
    margin: 1rem;
}
/*  */
.line{
    width: 90%;
    height: 0.7rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: lightgray;
    position: relative;
    bottom: 12rem;
    left: 1rem;
}
/* Newsletter relative style */
  #Newsletter{
    max-width: 90rem;
    padding: 4rem 2rem;
    margin: auto;
  }

  .Newsletter-container{
    display: flex;
    justify-content: space-between;
  }
  .Newsletter-content, .Newsletter-img{
    flex: 0.5;
  }
  .Newsletter-img img{
    width: 100%;
  }
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    margin-left: 1rem;

  }
  input{
    width: 100%;
    padding: 1rem;
    border: none;
    margin: 1rem 0;
    border-radius: 0.8rem;
    background: rgba(19, 20, 32, 0.1);
  }
  .form button{
    margin-bottom: 2rem;
  }
  .rotate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 10rem;
    background-color: #ff5400;
    border-radius: 0.6rem;
    position: relative;
    bottom: 14rem;
    left: 20rem;
    rotate: -25deg;
  }
  .rotate-title{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
  }
.rotate-h{
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
}

/* footer relative style */
footer{
  max-width: 90rem;
  margin: auto;
  padding: 4rem 2rem;
}
.footer-content img{
  width: 13%;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-dis{
  width: 40%;
  margin: 2rem auto;
}
.footer-links a{
  font-size: 2rem;
  margin-right: 3rem;
  text-align: center;
}  
.footer-links {
  text-align: center;
}  






@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 600px) {
    html{
        font-size: 48.5%;
    }

    header{
        padding-top: 4rem;
    }

    .nav-content{
        margin-left: 1.5rem;
    }

    #menu-icon {
        display: block;
        cursor: pointer; 
      }    

    .hidden{
        display: none;
    }
    

    .banner-content{
        width: 70%;
        margin: auto;
    }

    .banner-title{
        font-size: 3rem;
    }

    .banner-button{
        width: 70%;
        height: auto;
        flex-direction: column;
        margin: auto;
        padding: 2rem 0;
    }

    .banner-button button{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    #tours{
        flex-direction: column;
    }
    .tours-img img{
        margin-left: 0;
        margin-top: 2rem;
    }
    .pic-container{
       grid-template-areas: 'pic-div1' 'pic-div2''pic-div3''pic-div4''pic-div5''pic-div6''pic-div7';
    }

    .chose-container{
        flex-direction: column;
    }

    .choose-center{
        margin-left: 0;
    }

    .discounts-img {
        display: none;
    }

    .dwals-hidden{
        display: block;
        margin-bottom: 2rem;
      }

    .responsive-card{
        width: 42rem;
        position: absolute;
        top: 50rem;
        left: 4.5rem;
      }
    .responsive-card2{
        width: 42rem;
        position: absolute;
        top: 115rem;
        left: 4.5rem;
      }
    .responsive-card3{
        width: 42rem;
        position: absolute;
        bottom: 12rem;
        left: 4.5rem;
      }

      .Newsletter-container, .place-main{
        flex-direction: column;
        margin-top: 3rem;
      }
      .form{
        width: 100%;
      }

      .rotate{
        position: relative;
        left: 23.5rem;
      }

    
}